body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #E6F4F1;
  font-family: 'Montserrat', sans-serif;
}
.timer {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;
  background-color: #9EB7C5;
  border-radius: 10px;
}
.timer label{
font-size: 20px;
color: #fff;
padding: 0 0 10px 10px;
}
.timer input{
  width: 80%;
  padding: 5px 15px;
  font-size: 18px;
  outline: none;
  background-color: #E6F4F1;
  border-radius: 5px;
  border: 1px solid #eee;
}
#countdown {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  background-color: #6A828F;
  border-radius: 5px;
  padding: 10px 15px;
}

button {
  margin: 20px 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
